/*GLOBAL STYLES
---------------------------------------------------------------------*/
/* Padding below the footer and lighter body text */

* {
  margin: 0;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#wrapper {
  min-height:100%;
  position:relative;
  background-color: #dbe0e3;
}

body {
  color: #5a5a5a;
  background-color: #dbe0e3;
}

#logo{
   opacity: 0.8;
   height: 60px;
   width:180px;
   float: left;
   margin-top: 15px;
}


/*NAVBAR
--------*/
/* Special class on .container surrounding .navbar, used for positioning it into place. */
  .nav-pills > .active > a,
  .nav-pills > .active > a:hover,.nav-pills > li > a:hover {
  text-decoration: none;
  font-weight: bold;
  }
  .nav-pills > li > a{
      border-radius:3px;
      font-size: 12px;
      color:#000;
  }

  .nav-pills #pink{
     text-decoration: none;
      font-weight: bold;
      border-radius:3px;
      border-bottom-width: 6px;
      border-bottom-style: solid;
      border-bottom-color: #B5446E;
      color: #000 !important;
      background-color: transparent !important;

  }
  .nav-pills #green{
      text-decoration: none;
      font-weight: bold;
      border-radius:3px;
      border-bottom-width: 6px;
      border-bottom-style: solid;
      border-bottom-color: #cccc00;
      color: #000 !important;
    background-color: transparent !important;
  }
  .nav-pills #purple{
      text-decoration: none;
      font-weight: bold;
      border-radius:3px;
      border-bottom-width: 6px;
      border-bottom-style: solid;
      border-bottom-color: #745296;
      color: #000 !important;
      background-color: transparent !important;

  }

  .nav-pills{
    float:right;
  }

  /* Footer
------------*/
footer{
  background-color: #cccc00;
  height: 45px;
  width: 100%;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  position:absolute;
  bottom:0;
  left:0;
}


footer p{
  font-size: 14px;
}

#sm{
  float: right;
  padding: 5px;
  margin-bottom: 10px;
  display: inline-block;
  height: 60%;
}


/* RESPOSIVE CSS
----------------*/
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .nav-pills .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .navbar-wrapper .nav-pills {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .nav-pills {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 80px;
  }
}



/*HOMEPAGE
---------------------------------------------------------------------*/

/*Title
---------------*/

/*Slideshow/CTA IMAGE W/text idk??
---------------*/

#slideshow2 > #CTA2{
  margin-top: 5%;
  width: 600px;
  margin-left: 50px;
  display: inline-block;
  border:2px #ccc solid;
}

/*Ads/Description
----------------*/

}.featurette-divider > .rows{
width: 100%;
height:200px;
display: inline-block;
}


.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: black;
  padding:5px;
  font-size: 18px;
  text-align: center;
}

 #first{
  width: 200px;
  background-color: #B5446E;
  font-size: 30px;
  margin-left: 5px;
  border-radius: 5px;
 }

 #first-text{
  text-align: center;

 }
 
 #second{
  background-color: #cccc00;
  font-size: 30px;
  margin-left: 5px;
  width: 200px;
  border-radius: 5px;
 }

  #second-text{
  text-align: center;

 }
 #third{
  width: 200px;
  background-color: #745296;
  font-size: 30px;
  margin-left: 5px;
  border-radius: 5px;
 }

  #third-text{
  text-align: center;

 }


/*ABOUT US PAGE
---------------------------------------------------------------------*/

/*Title
---------------*/


.title-about{
  text-align: center;
  margin-top: 15%;
  background-color: #745296;
  color: #dbe0e3;
  border-radius: 8px;
  margin-bottom: 5%;
  width: 60%;
  margin-left: 20%;
}

/*Bio/Text
---------------*/


.paragraph{
 text-align: left;
 margin-top:5px;
 float:left;
 font-size: 15px;
 width: 45%;

}

.paragraph p{
  text-indent: 15px;
  font-size:15px; 
  margin-left: 50px;

}

/*Top CTA
---------------*/

.first-image{
  padding-left: 3.0%;
  overflow: hidden;
  margin-bottom: 5px;
  }

/*Quote/page spliter
------------------*/
.quote{
  padding: 5px;
  background-color: #B5446E;
  margin-bottom: 15px;
  margin-top: 15px;
  vertical-align: center;
  margin-left:3%;
  border-radius: 5px;
  width: 98%;
  opacity: 0.7;
}

.quote p{
  font-size: 15px;
  text-align: center;
  font-weight: 300px;
  color: #000000;
}

/*Bottem Ads
---------------*/
}
#img-two{
  float: left;
  margin-left: -15px;

}

#img-three{
  float:right;
  margin-right:12%;


}

.row{
  margin-bottom: 25px;
  width: 100%;
  margin-left: 35px;
  margin-bottom: -20px;

}
/*EDUSOURCE PAGE
---------------------------------------------------------------------*/

/*Title/h1
---------------*/
#edu-title{
  font-size: 34px;
  text-align: center;
  margin-top: 15%;
  background-color: #745296;
  color: #dbe0e3;
  border-radius: 8px;
  margin-bottom: 5%;
  width: 60%;
  padding: 5px;
  margin-left: 20%;
}

/*DropDow Links
---------------*/
#droppers{
  vertical-align: center;
  text-align: center;
}

#drop-1{
  color: #745296;
  font-size: 30px;
}
#drop-2{
  color: #cccc00;
  font-size: 30px;
}
#drop-3{
  color: #B5446E;
  font-size: 30px;
}
#drop-4{
  color: #745296;
  font-size: 30px;
}

#droppers ul{
  font-size: 15px;
  text-align: left;
  list-style-type: none;

}



/*Info on each drop down
------------------------*/
/*First Drop Down*/

.firstchild a, .secondchild a, .thirdchild a, .fourthchild a{
  color: #000000;
  text-align: center;
}


.firstchild > #one_{
  background-color: #745296;
  padding-left: 5px;
  border-radius: 4px;
  opacity: .6;
  color:#dbe0e3;
}

.firstchild > #three_{
  background-color: #745296;
  opacity: .6;
  padding-left: 5px;
  border-radius: 4px;
  color:#dbe0e3;
}
.firstchild > #five_{
  background-color: #745296;
  opacity: .6;
  padding-left: 5px;
  border-radius: 4px;
  color:#dbe0e3;
}


/*Second Drop Down*/

.secondchild > #one__{
  background-color: #cccc00;
  opacity: .6;
  padding-left: 5px;
  border-radius: 4px;
  color:#dbe0e3;
}

 .secondchild > #three__{
  background-color: #cccc00;
  opacity: .6;
  padding-left: 5px;
  border-radius: 4px;
  color:#dbe0e3;
}

/*Third Drop Down*/

.thirdchild > #one___{
  background-color: #B5446E;
  padding-left: 5px;
  border-radius: 4px;
  color:#dbe0e3;
}

 .thirdchild > #three___{
  background-color: #B5446E;
   padding-left: 5px;
  border-radius: 4px;
  color:#dbe0e3;
}

/*Fourth Drop Down*/

.fourthchild > #one____{
  background-color: #745296;
  padding-left: 5px;
  border-radius: 4px;
  color:#dbe0e3;
}

 .fourthchild > #three____{
  background-color: #745296;
  padding-left: 5px;
  border-radius: 4px;
  color:#dbe0e3;
}

.fourthchild > #five____{
  background-color: #745296;
  padding-left: 5px;
  border-radius: 4px;
  color:#dbe0e3;
}

.collapse3{
  background-color: #cccc00;
}
#accordion h2.active {
 background-color:#4BB347;   
}


.panel-body{
  border: 1px black solid;
}

/*STEM EVENT CAL
---------------------------------------------------------------------*/
/*Title/h1
---------------*/


/*Cal
---------------*/
 .cal-title{
  text-align: center;
  margin-top: 15%;
  padding: 5px;
  background-color: #745296;
  color: #dbe0e3;
  border-radius: 8px;
  margin-bottom: 5%;
  width: 60%;
  margin-left: 20%;
}
  .calendar { width: 100%; font-size: 0.73em;/*12*/ line-height: 1.25em;/*15*/ border-collapse: collapse; border-spacing: 0; }

  .calendar th { text-align: left; }
  .calendar th span { display: none; }

  .calendar tr { display: block; }
  .calendar td,
  .calendar th { display: none; }

  .calendar .day { margin: 1em 0 .5em 0; font-weight: bold; }

  .calendar .events { display: block; }

  .calendar ul { display: block; list-style: none; margin: 0 1.25em 0 0;/*15*/ padding: 0; }
  .calendar li { display: block; position: relative; margin: 0; padding: 0; height: 1.25em;/*15*/ }
  .calendar li a { display: block; position: absolute; left: 0; right: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;  }

  .calendar tr td:nth-of-type(1n) .day:before { content: 'Monday '; }
  .calendar tr td:nth-of-type(2n) .day:before { content: 'Tueday '; }
  .calendar tr td:nth-of-type(3n) .day:before { content: 'Wednesday '; }
  .calendar tr td:nth-of-type(4n) .day:before { content: 'Thursday '; }
  .calendar tr td:nth-of-type(5n) .day:before { content: 'Friday '; }
  .calendar tr td:nth-of-type(6n) .day:before { content: 'Saturday '; }
  .calendar tr td:nth-of-type(7n) .day:before { content: 'Sunday '; }

  .calendar .prev-month,
  .calendar .next-month { display: none; }

  @media only screen and (min-width: 30em) { /*480*/


    .calendar tr { display: table-row; }
    .calendar th, .calendar td { display: table-cell !important; margin: 0; width: 14.2857%; padding: 0.4166em;/*10*/ border: 1px solid #babcbf; vertical-align: top; }

    .calendar .prev-month .day,
    .calendar .next-month .day { color: #bbb; }

    .calendar td .day { display: block; float: right; margin: 0; font-weight: normal; }
    .calendar td .day:before { display: none; }
    .calendar td .suffix { display: none; }

  }

  @media only screen and (min-width: 40em) { /*640*/

    /* show full days (e.g. "Mon" to "Monday") */
    .calendar th span { display: inline; }

  }

  @media only screen and (min-width: 40em) and (min-height: 20em) {

    .calendar td { height: 2.5em;/*30*/ }

  }
  @media only screen and (min-width: 40em) and (min-height: 40em) {

    .calendar td { height: 6.25em;/*75*/ }

  }


/*Text/Decription
----------------*/

#cal-line{
  padding-top: 10px;
  text-align: center;
  font-size: 14px;

}

#cal-line button{
  width: 30%;
  background-color: #B5446E;
  color: #dbe0e3;
  border-radius: 8px;
  height: 40px;
  font-size: 24px;
  text-align: center;
}

#cal-line a {
  color:#dbe0e3;
}



/*DIY PAGE
---------------------------------------------------------------------*/

/*Title/H1
---------------*/

.header{
  padding: 5px;
  text-align: center;
  margin-top: 15%;
  background-color: #745296;
  color: #dbe0e3;
  border-radius: 8px;
  margin-bottom: 5%;
  width: 60%;
  margin-left: 20%;
}



/*Project Image Gallery
---------------------*/
.thumb {
    margin-bottom: 30px;
}


.col-lg-3{


}



/*CONTACT US PAGE
---------------------------------------------------------------------*/

/*Title/H1
---------------*/
#ctitle{
  padding: 5px;
  width: 100%;
  background-color: #745296;
  color: #dbe0e3;
  border-radius: 8px;
  text-align: center;
}
/*Contact Form
---------------*/


form{
  width:80%;
  margin-top: 25%;
  vertical-align: center;
  margin-left: 20%;
  overflow: none;
  margin-bottom: 25px;
}


#name, #email, #message{
  width: 80%;
  border: #cccc00 solid 1.5px;
  border-radius: 8px;
  vertical-align: center;
  margin-bottom: 10px;
  padding:15px;

}

#button{
  background-color: #B5446E;
  color: #dbe0e3;
  border-radius: 8px;
  font-size: 30px;
  padding:5px;

}

#ct-email{
  margin-left: 45px;
  padding:15px;
  color: gray;
  font-size: 20px;
  text-align: center;

}


#message , #email , #name, #button, #ctitle{
  width: 70%;
  margin-left: 6%;
  padding-left: 8px;
}


/*myContact Info
---------------*/
#ct-body,#tk-body{
  background-color: #dbe0e3;
}



#thank-you-page{
    margin-left: 80px; 
    margin-top: 40%;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 16px;
    font-weight : bold;
}

/*Images
---------------*/
